*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}
.navbarStyle{
	width: 90%;
	margin: 0 auto;

}
.logostyle{
	height: 45px;
}
.carousel-inner img {
    width: 70%;
    float: right;
    height: 450px;
  }
  /* .surfacepro{
  	text-align: left;
  	position: absolute; 
  	justify-content: left;
  	top: 0;
  	left: 0;
} */
.nav-item a:before{
	content: "";
	position: absolute;
	top: -20%;
	right:0;
	width: 0%; 
	height: 2px;
	border-top: 2px solid #c71c99;
	transition: all 0.6s;

}
nav-item a:hover:after{
	width: 100%;
}
.carousel-item{
	position: relative;
	z-index: 1;
}
.carousel-caption{
	position: absolute;
	top: 10%;
  	left: 7% !important;
  	color: black;
}
.carousel-caption h3{
	text-align: left;
	color: black;
}
.carousel-caption p{
	text-align: left;
	color: #034018
}
.carousel-caption button{
	color: white;
	background: black;
	border: none;
	padding: 10px 20px;
	left: 0;
	font-size: 15px;
	position: absolute;

}
.carousel-control-prev, .carousel-control-next{
	color: black !important;
}
main{
	margin: 40px 0; 
	
}
.card{
	border: none !important;
}
.card-body{
	padding: 5px 0 !important;
}
.card-img-top{height: 170px;}
.msstore{
	width: 100%;
	height: 400px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0)),url('../images/Ms365.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 20px 0 40px 0;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 70px;
}
button{
	color: white;
	background: black;
	border: none;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase !important;
}
.btmsection{
	margin-bottom: 50px;
}
.socialIcon{
	margin-bottom: 40px;
}
.fa-youtube{
	color: red;
}
.fa-facebook-official{
	color: blue;
}
footer{
	background: #f2e2f2;
	padding: 20px 0;
}
footer li{
	list-style: none;
}
footer a{
	text-decoration: none;
	color: #818181;
}
.footerbtnHome{
	display: flex;
	float: right;
	justify-content: space-between;

}
.shubham{
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	font-size: 25px;  
}
.userIcon{
	
	color: #999;
	border-radius: 50%;
	border: 1px solid #999;
	/* padding: 5px; */
	display: block;
}